/* Styles généraux */
body {
  margin: 0;
  color: #333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Hero Banner */
.hero-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#hero-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
  background: transparent; /* Pas de background au début */
}

.scroll-active header {
  background: rgba(0, 0, 0, 0.7); /* Fond ajouté après scroll */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.logo {
  position: relative;
}

.logo img {
  width: 150px;
}

/* Sticky effect - déplacement du logo */
.scroll-active {
  background-color: #a99893;
}

.scroll-active nav {
  padding: 0px 100px;
}

.scroll-active .logo {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

/* Styles pour la galerie */
.gallery {
  text-align: center;
  padding: 50px 5%;
}

.hero-banner h1 {
  position: absolute;
  top: 38%;
  color: white;
  font-size: 96px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Effet bento plus structuré */
.gallery-item:nth-child(3n) {
  grid-column: span 1;
  grid-row: span 2;
}

.gallery-item:nth-child(5n) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-item:nth-child(7n) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Footer */

footer {
  background-color: #a99893;
}

.img-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}

.partners img {
  width: 70px;

  margin: 10px;
}
